@import "variables";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: var(--theme-font);
    font-size: var(--theme-size);
    min-height: 100vh;
}

#app {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--very-light-gray);
}

#interactive-comments {
    width: calc(40% - 60px);
    margin-top: 50px;
    margin-bottom: 50px;
}

#interactive-comments .comments-content .current-user-comment {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 25px;
    background-color: var(--white);
    border-radius: 10px;
    padding: 25px;
    margin-top: 20px;
    width: calc(100% - 50px);
}

#interactive-comments .comments-content .current-user-comment .score {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--very-light-gray);
    padding: 10px;
    border-radius: 10px;
}

#interactive-comments .comments-content .current-user-comment .score p {
    text-align: center;
    color: var(--moderate-blue);
    font-weight: 700;
}

#interactive-comments .comments-content .current-user-comment .score button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#interactive-comments .comments-content .current-user-comment .score .plus::before {
    content: url(/src/assets/images/icon-plus.svg);
}

#interactive-comments .comments-content .current-user-comment .score .minus::before {
    content: url(/src/assets/images/icon-minus.svg);
}

#interactive-comments .comments-content .current-user-comment .content {
    width: inherit;
}

#interactive-comments .comments-content .current-user-comment .content .top-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#interactive-comments .comments-content .current-user-comment .content .top-content .user-inf {
    display: flex;
    align-items: center;
    gap: 15px;
}

#interactive-comments .comments-content .current-user-comment .content .top-content .user-inf img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

#interactive-comments .comments-content .current-user-comment .content .top-content .user-inf .name {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0;
    font-weight: 500;
    color: var(--dark-blue);
}

#interactive-comments .comments-content .current-user-comment .content .top-content .user-inf .name .comment-owner {
    background-color: var(--moderate-blue);
    color: var(--white);
    font-size: 12px;
    line-height: 1.1;
    border-radius: 3px;
    padding: 2px 7px;
    margin: 0;
    width: fit-content;
}

#interactive-comments .comments-content .current-user-comment .content .top-content .user-inf .date {
    margin: 0;
    font-weight: 400;
    color: var(--grayish-blue);
}

#interactive-comments .comments-content .current-user-comment .content .top-content .rp-button {
    display: flex;
    align-items: center;
    gap: 10px;
}

#interactive-comments .comments-content .current-user-comment .content .top-content .rp-button button {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#interactive-comments .comments-content .current-user-comment .content .top-content .rp-button .reply {
    color: var(--moderate-blue);
}

#interactive-comments .comments-content .current-user-comment .content .top-content .rp-button .reply:before {
    content: url(/src/assets/images/icon-reply.svg);
}

#interactive-comments .comments-content .current-user-comment .content .top-content .rp-button .delete {
    color: var(--soft-red);
}

#interactive-comments .comments-content .current-user-comment .content .top-content .rp-button .delete:before {
    content: url(/src/assets/images/icon-delete.svg);
}

#interactive-comments .comments-content .current-user-comment .content .top-content .rp-button .edit {
    color: var(--moderate-blue);
}

#interactive-comments .comments-content .current-user-comment .content .top-content .rp-button .edit:before {
    content: url(/src/assets/images/icon-edit.svg);
}

#interactive-comments .comments-content .current-user-comment .content .text-content p {
    line-height: 1.5;
    color: var(--grayish-blue);
    margin-bottom: 0;
}

#interactive-comments .comments-content .comment-reply-submit {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;
    background-color: var(--white);
    border-radius: 10px;
    padding: 25px;
    margin-top: 20px;
}

#interactive-comments .comments-content .comment-reply-submit img {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    border-radius: 100%;
}

#interactive-comments .comments-content .comment-reply-submit .comment-reply-text {
    width: 100%;
    border: 2px solid var(--light-gray);
    border-radius: 10px;
    color: var(--dark-blue);
    height: 60px;
    padding: 15px 25px;
    position: relative;
    resize: none;
    font-family: inherit;
    font-size: inherit;
}

#interactive-comments .comments-content .comment-reply-submit button {
    text-transform: uppercase;
    background-color: var(--moderate-blue);
    color: var(--white);
    outline: none;
    border: none;
    cursor: pointer;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
}

#interactive-comments .comments-content .comment-reply {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
    border-left: solid 2px var(--light-gray);
    margin-left: 25px;
    padding-left: 25px;
}

#interactive-comments .comments-content .comment-reply .comment-reply-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 25px;
    background-color: var(--white);
    border-radius: 10px;
    padding: 25px;
    margin-top: 20px;
    width: calc(100% - 50px);
}

#interactive-comments .comments-content .comment-reply .comment-reply-content:first-child {
    margin-top: 0px;
}

#interactive-comments .comments-content .comment-reply .comment-reply-content .score {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--very-light-gray);
    padding: 10px;
    border-radius: 10px;
}

#interactive-comments .comments-content .comment-reply .comment-reply-content .score p {
    text-align: center;
    color: var(--moderate-blue);
    font-weight: 700;
}

#interactive-comments .comments-content .comment-reply .comment-reply-content .score button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#interactive-comments .comments-content .comment-reply .comment-reply-content .score .plus::before {
    content: url(/src/assets/images/icon-plus.svg);
}

#interactive-comments .comments-content .comment-reply .comment-reply-content .score .minus::before {
    content: url(/src/assets/images/icon-minus.svg);
}

#interactive-comments .comments-content .comment-reply .comment-reply-content .content {
    width: inherit;
}

#interactive-comments .comments-content .comment-reply .comment-reply-content .content .top-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#interactive-comments .comments-content .comment-reply .comment-reply-content .content .top-content .user-inf {
    display: flex;
    align-items: center;
    gap: 15px;
}

#interactive-comments .comments-content .comment-reply .comment-reply-content .content .top-content .user-inf img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

#interactive-comments .comments-content .comment-reply .comment-reply-content .content .top-content .user-inf .name {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0;
    font-weight: 500;
    color: var(--dark-blue);
}

#interactive-comments .comments-content .comment-reply .comment-reply-content .content .top-content .user-inf .name .comment-owner {
    background-color: var(--moderate-blue);
    color: var(--white);
    font-size: 12px;
    line-height: 1.1;
    border-radius: 3px;
    padding: 2px 7px;
    margin: 0;
    width: fit-content;
}

#interactive-comments .comments-content .comment-reply .comment-reply-content .content .top-content .user-inf .date {
    margin: 0;
    font-weight: 400;
    color: var(--grayish-blue);
}

#interactive-comments .comments-content .comment-reply .comment-reply-content .content .top-content .rp-button button {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    color: var(--moderate-blue);
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#interactive-comments .comments-content .comment-reply .comment-reply-content .content .top-content .rp-button {
    display: flex;
    align-items: center;
    gap: 10px;
}

#interactive-comments .comments-content .comment-reply .comment-reply-content .content .top-content .rp-button .delete {
    color: var(--soft-red);
}

#interactive-comments .comments-content .comment-reply .comment-reply-content .content .top-content .rp-button .delete:before {
    content: url(/src/assets/images/icon-delete.svg);
}

#interactive-comments .comments-content .comment-reply .comment-reply-content .content .top-content .rp-button .edit {
    color: var(--moderate-blue);
}

#interactive-comments .comments-content .comment-reply .comment-reply-content .content .top-content .rp-button .edit:before {
    content: url(/src/assets/images/icon-edit.svg);
}

#interactive-comments .comments-content .comment-reply .comment-reply-content .content .text-content p {
    line-height: 1.5;
    color: var(--grayish-blue);
    margin-bottom: 0;
}

#interactive-comments .comments-content .comment-reply .comment-reply-content .content .text-content p .replyingTo{
    color: var(--moderate-blue);
    font-weight: 700;
    margin-right: 5px;
}

#interactive-comments .comments-content .comment-reply .comment-reply-content .content .text-content p .r-content {
    display: flex;
    align-items: center;
    gap: 5px;
}

#interactive-comments .comments-content .comment-reply .comment-reply-content .content .text-content p .r-content .rc-user {
    color: var(--moderate-blue);
    font-weight: 700;
    margin: 0;
}

#interactive-comments .comments-content .comment-reply .comment-reply-content .comment-reply-content-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
}

#interactive-comments .comments-content .comment-reply .comment-reply-content .comment-reply-content-edit textarea {
    width: -webkit-fill-available;
    border: 2px solid var(--light-gray);
    border-radius: 10px;
    color: var(--dark-blue);
    height: 60px;
    padding: 15px 25px;
    position: relative;
    resize: none;
    font-family: inherit;
    font-size: inherit;
}

#interactive-comments .comments-content .comment-reply .comment-reply-content .comment-reply-content-edit button {
    text-transform: uppercase;
    background-color: var(--moderate-blue);
    color: var(--white);
    outline: none;
    border: none;
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
}

#interactive-comments .comments-content .current-user-comment .content .text-content p {
    line-height: 1.5;
    color: var(--grayish-blue);
    margin-bottom: 0;
}

#interactive-comments .comments-content .current-user-comment .content .comment-content-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
}

#interactive-comments .comments-content .current-user-comment .content .comment-content-edit textarea {
    width: -webkit-fill-available;
    border: 2px solid var(--light-gray);
    border-radius: 10px;
    color: var(--dark-blue);
    height: 60px;
    padding: 15px 25px;
    position: relative;
    resize: none;
    font-family: inherit;
    font-size: inherit;
}

#interactive-comments .comments-content .current-user-comment .content .comment-content-edit button {
    text-transform: uppercase;
    background-color: var(--moderate-blue);
    color: var(--white);
    outline: none;
    border: none;
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
}

#interactive-comments .comment-add {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;
    background-color: var(--white);
    border-radius: 10px;
    padding: 25px;
    margin-top: 20px;
}

#interactive-comments .comment-add img {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    border-radius: 100%;
}

#interactive-comments .comment-add .comment-text {
    width: 100%;
    border: 2px solid var(--light-gray);
    border-radius: 10px;
    color: var(--dark-blue);
    height: 60px;
    padding: 15px 25px;
    position: relative;
    resize: none;
    font-family: inherit;
    font-size: inherit;
}

#interactive-comments .comment-add button {
    text-transform: uppercase;
    background-color: var(--moderate-blue);
    color: var(--white);
    outline: none;
    border: none;
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
}

#interactive-comments .confirmation-popup {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

#interactive-comments .confirmation-popup .confirmation-popup-content {
    background-color: var(--white);
    border-radius: 10px;
    width: 300px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#interactive-comments .confirmation-popup .confirmation-popup-content span {
    font-size: 20px;
    font-weight: 500;
    color: var(--grayish-blue);
}

#interactive-comments .confirmation-popup .confirmation-popup-content p {
    text-align: left;
    line-height: 1.5;
    color: var(--grayish-blue);
}

#interactive-comments .confirmation-popup .popup-button-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

#interactive-comments .confirmation-popup .popup-button-group button {
    flex-basis: 50%;
    border-radius: 10px;
    border: none;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--white);
    font-weight: 700;
}

#interactive-comments .confirmation-popup .popup-button-group button.confirm {
    background-color: var(--soft-red);
}

#interactive-comments .confirmation-popup .popup-button-group button.cancel {
    background-color: var(--grayish-blue);
}

#interactive-comments .overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    pointer-events: auto;
}