@import "variables";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: var(--theme-font);
    font-size: var(--theme-size);
    min-height: 100vh;
}

#app {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--very-light-gray);
}

#interactive-comments {
    width: calc(40% - 60px);
    margin-top: 50px;
    margin-bottom: 50px;
}

#interactive-comments .comments-content .current-user-comment {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 25px;
    background-color: var(--white);
    border-radius: 10px;
    padding: 25px;
    margin-top: 20px;
}

#interactive-comments .comments-content .current-user-comment .score {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--very-light-gray);
    padding: 10px;
    border-radius: 10px;
}

#interactive-comments .comments-content .current-user-comment .score p {
    text-align: center;
    color: var(--moderate-blue);
    font-weight: 700;
}

#interactive-comments .comments-content .current-user-comment .score button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#interactive-comments .comments-content .current-user-comment .score .plus::before {
    content: url(/src/assets/images/icon-plus.svg);
}

#interactive-comments .comments-content .current-user-comment .score .minus::before {
    content: url(/src/assets/images/icon-minus.svg);
}

#interactive-comments .comments-content .current-user-comment .content .top-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#interactive-comments .comments-content .current-user-comment .content .top-content .user-inf {
    display: flex;
    align-items: center;
    gap: 15px;
}

#interactive-comments .comments-content .current-user-comment .content .top-content .user-inf img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

#interactive-comments .comments-content .current-user-comment .content .top-content .user-inf .name {
    margin: 0;
    font-weight: 500;
    color: var(--dark-blue);
}

#interactive-comments .comments-content .current-user-comment .content .top-content .user-inf .date {
    margin: 0;
    font-weight: 400;
    color: var(--grayish-blue);
}

#interactive-comments .comments-content .current-user-comment .content .top-content .rp-button button {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    color: var(--moderate-blue);
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#interactive-comments .comments-content .current-user-comment .content .top-content .rp-button button:before {
    content: url(/src/assets/images/icon-reply.svg);
}

#interactive-comments .comments-content .current-user-comment .content .text-content p {
    line-height: 1.5;
    color: var(--grayish-blue);
}

#interactive-comments .comments-content .comment-reply-submit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    border-radius: 10px;
    padding: 25px;
    margin-top: 20px;
}

#interactive-comments .comments-content .comment-reply {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
    border-left: solid 2px var(--light-gray);
    margin-left: 30px;
}

#interactive-comments .comments-content .comment-reply .comment-reply-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    border-radius: 10px;
    padding: 25px;
    margin-top: 20px;
    width: calc(100% - 80px);
}

#interactive-comments .comments-content .comment-reply .comment-reply-content:first-child {
    margin-top: 0px;
}

#interactive-comments .comment-add {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    border-radius: 10px;
    padding: 25px;
    margin-top: 20px;
}