@import "variables";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: var(--theme-font);
    font-size: var(--theme-size);
    min-height: 100vh;
}

#app {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--very-light-gray);
}

#interactive-comments {
    width: calc(40% - 80px);
    margin-top: 50px;
    margin-bottom: 50px;
}

#interactive-comments .comments-content .current-user-comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    border-radius: 10px;
    padding: 25px;
    margin-top: 20px;
}

#interactive-comments .comments-content .current-user-comment .content .top-content {
    display: flex;
    align-items: center;
}

#interactive-comments .comments-content .comment-reply-submit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    border-radius: 10px;
    padding: 25px;
    margin-top: 20px;
}

#interactive-comments .comments-content .comment-reply {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
    border-left: solid 1px var(--light-gray);
    margin-left: 30px;
}

#interactive-comments .comments-content .comment-reply .comment-reply-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    border-radius: 10px;
    padding: 25px;
    margin-top: 20px;
    width: calc(100% - 80px);
}

#interactive-comments .comments-content .comment-reply .comment-reply-content:first-child {
    margin-top: 0px;
}

#interactive-comments .comment-add {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    border-radius: 10px;
    padding: 25px;
    margin-top: 20px;
}